<!DOCTYPE html>
<html>

<head>
  <div style="color:blue" align='center'>
    <h1> Welcome to Battleships! </h1>
    <h2>War does not determine who is right - only who is left."BR"</h2>
  </div>
</head>

<body>

  <body bgcolor="black">
    <div align='center'>
      <img src=http://archive.beefjack.com/files/2012/02/Battleship-Game-Announced-header.jpg>
    </div>
    <div align='center'>
      <a href="/new_game">Start Game</a>
    </div>
  </body>

</html>
